* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}



footer {
    margin-top: 1em;
    width: 100%;
}

footer .top-footer {
    display: flex;
}
footer .top-footer img{
    display: flex;
}

footer .right-top-footer {
    width: 50%;
    background-color: #02B4E2;
    padding: 6.92em;
    color: #FEFEFE;
}

footer .right-top-footer h1 {
    font-weight: 600;
    font-size: 2em;
}

footer .right-top-footer p {
    margin-top: 1em;
    font-size: 0.8em;
    text-align: justify;
}

footer .right-top-footer .contato {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
}

footer .right-top-footer .contato p{
    margin-top: 0;
}

footer .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#71D2FE;
    padding: 0.5em;
}
footer .bottom-footer .alinhamento{
    flex-direction: column;
}
footer .bottom-footer .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F8FF;
    gap: 2em;
}
footer .bottom-footer img {
    width: 250px;
}
footer .bottom-footer .redes-sociais img {
    width: 2em;
}

footer .bottom-footer .direitos {
    padding-top: 0.4em;
}

footer .bottom-footer .direitos p {
    color: #FEFEFE;
    font-size: 0.6em;
}